# Sanitize Data

- remove duplicates
- remove null values
- input and output set

### Data

1=male, 0=female

### Predictions
- Men 20-25 like hiphop
- Men 26-30 like jazz
- Men 30+ like classical
- Women 20-25 like dance
- Women 26-30 like acoustic
- Women 30+ like classical

In [18]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
music_data = pd.read_csv('music.csv')

## Split Dataset

When we train a model we give it an input set and an output set. 

1. Input Set: (age, gender)
2. Output Set: The predictions (genre)

In [19]:
X = music_data.drop(columns=['genre']) # input set is always represented by 'X'
y = music_data['genre'] # output set is always represented by 'y'

## Learning and predicting

Build a model using a ML algo. We're going to use decision tree.

In [23]:
model = DecisionTreeClassifier()
# train the model
model.fit(X, y)
# make a prediction
model.
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical